[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
twine = "*"
mkdocs = "*"
nbconvert = "==5.6.1"



[requires]
python_version = "3.7"
