/* Pretty Pandas Dataframes */
.dataframe {
    border: 0;
    font-size: smaller;
}

.dataframe tr {
    border: none;
    background: #ffffff;
}
.dataframe tr:nth-child(even) {
    background: #f5f5f5;
}
.dataframe tr:hover {
    background-color: #e1f5fe;
}

.dataframe thead th {
    background: #fff;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
}
.dataframe th {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.dataframe td{
    /* background: #fff; */
    border: none;
    text-align: right;
    min-width:5em;
    padding-left: 10px;
    padding-right: 10px;
}


@media (prefers-color-scheme: dark) {

    .dataframe tr {
        border: none;
        background: #2f313e;
    }
    .dataframe tr:nth-child(even) {
        background: #272935;
    }
    .dataframe tr:hover {
        background-color: #2E324C;
    }
    .dataframe thead th {
        background: #272935;
        border-bottom: 1px solid #aaa;
        font-weight: bold;
    }

}