[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
"mknotebooks" = {editable = true, path = "./../.."}
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.7"
